.current_version{
    color: #383838;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.this_version{
    color: #245B9C;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 10px;
}
.action_file_btn{
    background-color: #FBFBFB;
    border: 1px solid #245B9C;
    box-sizing: border-box;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: #245B9C;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
    margin-left: 15px;
}
.actions_file{
    height: 5%;
    display: flex;
    justify-content: flex-end;
}
.action_file_btn:active{
    background-color: #f0f0f0;
}
.action_file_btn img{
    margin-right: 5px;
}
.info_file{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editor-container{
    margin-top: 15px;
}
table{
    border: 1px solid #245B9C;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #383838;
    width: 100%;
    margin-top: 15px;
    background: #F0F0F0;
    border-spacing: unset;
}
tr{
    height: 3.5vh;
}
td a{
    display: block;
    align-items: center;
    color: #245B9C;
    cursor: pointer;
}
.options_file{
    display: flex;
    justify-content: center;
    align-items: center;
}
.options_file img{
    cursor: pointer;
}
#select-ver-dlg{
    width: 60%;
}
.add_version_err{
    color: #850606;
    margin-top: 10px;
}
#add_version_dlg input{
    margin-top: 15px;
    height: 4vh;
    width: 20vw;
}
#add_version_dlg form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.select_file_block{
    display: flex;
    align-items: center;
    height: 3vh;
    width: 100%;
    margin-top: 10px;
}
.select_file_btn{
    width: 50%;
    height: 100%;
}
